<header style="{{ partial "sidebar/style" . | safeCSS }}">

  <div class="intro">
    <div>
      <a href="/" style="position: relative; top: 6vh">
        <img style="height: 20vh; width: 20vh" src='{{ .Site.Params.sidebar.logo | default "images/edna-west.jpg" | absURL }}' alt="Profile {{ .Title }}" class="rounded-logo">
      </a>
      <h2 style="position: relative; top: 2.5vh; font-size: 5vh">{{ .Site.Params.intro.main | default "Welcome, I'm John Doe" | emojify }}</h2>

    </div>
    <h3 style="font-size: 2.5vh; position: relative; bottom: 1vh">{{ .Site.Params.intro.sub | default "This is my personal website" | emojify }}</h3>
    <div class="menu" style="font-size: 2vh; position: relative; bottom: 1.7vh">
      {{ partial "sidebar/menu" . }}
      {{ if .Site.Params.contact.email }}
        {{ $email := printf "mailto:%s" .Site.Params.contact.email}}
        <p>
            <a href="{{ $email }}" target="_blank" rel="external">
                {{ .Site.Params.contact.text | emojify }}
            </a>
        </p>
      {{ end }}
    </div>

  </div>

  <div class="socials">
    <a style="position: relative; top: 41px; left: 0px;" href="https://github.com/MurrayGroves"><img style="width: 4.5vh" src="https://i.imgur.com/oImxcjv.png"></img></a>

    <a style="position: relative; top: 46px; left: 0px;" href="https://github.com/MurrayGroves"><img style="width: 5.5vh" src="https://i.imgur.com/5yDIWz7.png"></img></a>
      {{ partial "sidebar/social" .}}
  </div>



</header>
